body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    overflow: hidden;
}

.chat-box{
    position: relative;
    width: 1200px;
    height: 800px;
    background: white;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
   /*  opacity: 0.7; */
}

/* friends div */
.friends{
    width: 340px;
    height: 100%;
    float: left;
    background: #2980b9;
    border-right: 2px solid #fff;
}
/* user */
.user{
    display: flex;
    align-items: center;
    height: 80px;
    background: #110022;
    /* border-bottom: 2px solid #fff; */
    /* background-color: rgba(255, 255, 255, 0.4); */
}
.user img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 30px;
    border-radius: 50%;
    background: #fff;
}
.user-info{
    color: #fff;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 300px;
    left: 0;
    top: 0;
    padding-right: 30%;
    padding-left: 25%;
    width: 50%;
    height: 120%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    border: none;
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    width: 60%;
    height: 17%;
} 
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    padding: 10px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: rgb(219, 36, 36);;
    text-decoration: none;
    cursor: pointer;
}
.modal-text {
    font-family: monospace;
    font-size: 160%;
    color: #000;
    padding-left: 20px;
}
.btn-agree {
    position: absolute; 
    border: none;
    right: 45%;
    margin: 1%;
    font-size: 100%;
    color: white;
    padding: 0.7%;
    padding-right: 5%;
    padding-left: 5%;
    bottom: 62%;
    border-radius: 10px;
    background-color: #04AA6D;
    cursor: pointer;
}
.btn-agree:hover {
    border: 1px solid #fff;
    transform: .5s;
}
.delete {
    position: absolute;
    padding-left: 190px;
}
#btnDelete{
    background-color: rgb(219, 36, 36);
    width: 45px;
    height: 45px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    position:sticky;
    right: 10px;
    margin-left: 85px;
}
#btnDelete:hover{
    border: 1px solid #fff;
    transform: .5s;
}
/* end of user */

.friends-list{
    height: 640px;
    overflow: auto;
    background: linear-gradient(220deg, #2980b9, #8e44ad);
}
#no-friends{
    margin-top: 240px;
    margin-left: 40px;
    margin-right: 20px;
    display: inline-block;
    font-family: monospace;
    font-size: 24px;
    color: #fff;
    font-style: italic;
    display:none;
}
.list button{
    list-style: none;
    height: 45px;
    width: 70%;
    line-height: 45px;
    font-family: monospace;
    font-size: 150%;
    position: relative;
    background: #DCDCDC;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 0 15px;
    left: 10%;
    cursor: pointer;
}
#ip2 {
    border-radius: 25px;
    border: 2px solid #609;
    background: #DCDCDC;
    padding: 20px; 
    width: 100px;
    height: 1px;   
    margin: 10px;
    margin-right: 20px; 
    font-size: 16px;
    padding-right: 30%;
}

.add-friends{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #110022;
    /* border-top: 2px solid #fff; */
}
/* end of friends div */

/* chats div */
.chats{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.friend{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    height: 80px;
    background: #110022;
    /* background-color: rgba(255, 255, 255, 0.4); */
}
.friend img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    margin-right: 30px;
    margin-left: 15px;
}
.scrollbar{
    height: 640px;
    overflow-y: auto;
}
.my-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: rgb(0, 132, 255);
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 10px 10px 10px auto;
}
.friend-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: #4F5766;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 10px;
}
#ip1{
    border-radius: 25px;
    border: 2px solid #609;
    background: #DCDCDC;
    padding: 20px; 
    width: 70%;
    height: 1px;   
    margin: 20px; 
    font-size: 16px;
}
.send-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #110022;
    min-width: 200px;
}
.send-message button {
    background-color: #04AA6D;
    border: none;
    width: 45px;
    height: 45px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    /* left: 15px; */
}
.send-message button:hover{
    border: 1px solid #fff;
    transform: .5s;
}
.send-message label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04AA6D;
    border: none;
    width: 45px;
    height: 45px;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    /* left: 15px; */
}
.send-message label:hover{
    border: 1px solid #fff;
    transform: .5s;
}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    /* left: 15px; */
}
.button:hover{
    border: 1px solid #fff;
    transform: .5s;
}
/* end of chats div */
  /* ------------------------------------------ LOGIN ------------------------------------------ */

  .login-box{
    position: relative;
    width: 500px;
    height: 500px;
    background: white;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
   /*  opacity: 0.7; */
}

.login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    /* background: #2980b9;
    border-bottom: 2px solid #fff; */
    /* background-color: rgba(255, 255, 255, 0.4); */
}

.login-user img{
    width: 150px;
    height: 150px;
    margin: 5%;
    border-radius: 10%;
    background: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  /* custom */
  header
  {
      font-family: 'Lobster', cursive;
      text-align: center;
      font-size: 25px;	
  }
  
  #info
  {
      font-size: 18px;
      color: #555;
      text-align: center;
      margin-bottom: 25px;
  }
  
  a{
      color: #074E8C;
  }
  
.scrollbar {
      height: 640px;
      width: 850px;
      overflow-y: scroll;
}
  
  .force-overflow {
      min-height: 450px;
  }
  
  #wrapper
  {
      text-align: center;
      width: 500px;
      margin: auto;
  }
  

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}