body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    overflow: hidden;
}
.contaner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-box{
    position: relative;
    width: 1200px;
    height: 800px;
    background: white;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
   /*  opacity: 0.7; */
}

/* friends div */
.friends{
    width: 35%;
    height: 100%;
    float: left;
    background: #2980b9;
    margin-right: 20px;
    
}
/* user */
.user{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background: #2980b9;
    border-bottom: 2px solid #fff;
    /* background-color: rgba(255, 255, 255, 0.4); */
}
.user img{
    width: 50px;
    height: 50px;
    margin: 5%;
    border-radius: 50%;
    background: #fff;
}
.user-info{
    color: #fff;
    padding: 1%;
}
/* end of user */

.friends-list{
    height: 75%;
    padding: 5%;
    overflow: auto;
    background: #77b3d4;;
}
.add-friends{
    height: 40px;
    border-top: 2px solid #fff;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2980b9;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transform: .5s;
}
/* end of friends div */

/* chats div */
.chats{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* end of chats div */

#ip2 {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 1px;    
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    /* left: 15px; */
}

  /* ------------------------------------------ LOGIN ------------------------------------------ */

  .login-box{
    position: relative;
    width: 500px;
    height: 500px;
    background: white;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
   /*  opacity: 0.7; */
}

.login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    /* background: #2980b9;
    border-bottom: 2px solid #fff; */
    /* background-color: rgba(255, 255, 255, 0.4); */
}

.login-user img{
    width: 150px;
    height: 150px;
    margin: 5%;
    border-radius: 10%;
    background: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  