body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    overflow: hidden;
}

.chat-box{
    position: relative;
    width: 1200px;
    height: 800px;
    background: white;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
   /*  opacity: 0.7; */
}

/* friends div */
.friends{
    width: 35%;
    height: 100%;
    float: left;
    background: #2980b9;
    border-right: 2px solid #fff;
}
/* user */
.user{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background: #110022;
    border-bottom: 2px solid #fff;
    /* background-color: rgba(255, 255, 255, 0.4); */
}
.user img{
    width: 50px;
    height: 50px;
    margin: 5%;
    border-radius: 50%;
    background: #fff;
}
.user-info{
    color: #fff;
    padding: 1%;
    padding-right: 38%;
}
.delete{
    background-color: rgb(219, 36, 36);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
}
.delete:hover{
    border: 1px solid #fff;
    transform: .5s;
}
/* end of user */

.friends-list{
    height: 75%;
    padding: 5%;
    overflow: auto;
    background: linear-gradient(220deg, #2980b9, #8e44ad);
}
#no-friends{
    margin-top: 50%;
    text-align: center;
    display: inline-block;
    font-family: monospace;
    font-size: 200%;
    color: #fff;
    font-style: italic;
    
    display:none
}
.list li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 25px;
    margin-bottom: 5px;
    padding: 0 15px;
    cursor: pointer;
}
.add-friends{
    height: 40px;
    border-top: 2px solid #fff;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #110022;
}
/* end of friends div */

/* chats div */
.chats{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.message-to{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background: #110022;
    min-width: 5px;
    padding-left: 40%;
    /* background-color: rgba(255, 255, 255, 0.4); */
}
.message-to img{
    width: 50px;
    height: 50px;
    margin: 5%;
    border-radius: 50%;
    background: #fff;
}
.messages{
    height: 645px;
    overflow: auto;
}
.my-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: rgb(0, 132, 255);
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 10px 10px 10px auto;
}
.friend-chat{
    width: 60%;
    word-wrap: break-word;
    background-color: #4F5766;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 10px;
}
#ip1{
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 80%;
    height: 1px;   
    margin: 20px; 
    font-size: 16px;
}
.send-message{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background: #110022;
    min-width: 200px;
}
.send{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
}
.send:hover{
    border: 1px solid #fff;
    transform: .5s;
}
/* end of chats div */

#ip2 {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 1px;   
    margin: 10px; 
    font-size: 16px;
    padding-right: 30%;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    /* left: 15px; */
}
.button:hover{
    border: 1px solid #fff;
    transform: .5s;
}
  /* ------------------------------------------ LOGIN ------------------------------------------ */

  .login-box{
    position: relative;
    width: 500px;
    height: 500px;
    background: white;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
   /*  opacity: 0.7; */
}

.login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    /* background: #2980b9;
    border-bottom: 2px solid #fff; */
    /* background-color: rgba(255, 255, 255, 0.4); */
}

.login-user img{
    width: 150px;
    height: 150px;
    margin: 5%;
    border-radius: 10%;
    background: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }